@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h1>Liên Hệ</h1>

<address>
    275 An Dương Vương<br />
    <abbr title="Phone">P:</abbr>
    0909.090.000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:khoa.dang9x@gmail.com">khoa.dang9x@gmail.com</a><br />
</address>